:root{
    --background-style: radial-gradient(circle at 50% 40%, #5a0fa3 0%, transparent 45%),
                        radial-gradient(circle at center, #1a0033 0%, #000 85%);

    --primary-btn-background:linear-gradient(
        to bottom left,
        #840aa9,
        #a50f9c,
        #ce3481,
        #e35573,
        #ee7263,
        #f79050
    );
}

.btn{  
    padding:10px 20px;
    border-radius: 999px;
    font-size: 16px;
    font-weight: 600;
    border: none;
}

.btn-primary{
    color: white;
    background: var(--primary-btn-background);
    transition: 
        transform 0.25s ease ,
        box-shadow 0.25 ease,
        filter 0.25s ease;
}

.btn-primary:hover{
    transform: translateY(-1px);
    box-shadow: 0 10px 25px rgba(230, 77, 156, 0.35);
    filter: brightness(1.05);
}
.btn-primary:active {
  transform: translateY(0);
  box-shadow: 0 8px 18px rgba(206, 52, 129, 0.3);
}

.btn-secondary {
  color: #ffffff;
  background: transparent;
  transition: 
        transform 0.25s ease ,
        box-shadow 0.25 ease,
        filter 0.25s ease;
  border: 2px solid rgba(155, 31, 232, 0.7);
  box-shadow: inset 0 0 0 0 rgba(155, 31, 232, 0.3);
}

.btn-secondary:hover {
    transform: translateY(-1px);
    background: rgba(155, 31, 232, 0.15);
    box-shadow: inset 0 0 0 999px rgba(155, 31, 232, 0.15);
}

.btn-secondary:active {
    transform: translateY(0);
    background: rgba(155, 31, 232, 0.25);
}

.profile_btn{
border: none;
border-radius: 50%;
overflow: hidden;
width: 70px;
height: 60px;
background-color: transparent;

}
.profile_img{
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.profile_btn:hover{
    opacity: 50%;
}

/* .input-box{
    width: 100%;
    background:transparent;
    border: 1px solid;
    border-radius: 10px;
    padding: 5px 0;
} */

/* Navbar Starts */
.login-btn{
    margin-right: 2rem;
}
.navbar{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    flex-direction: row;
    color: white;
    position: sticky;
    z-index: 1000;
    top: 0;
     background:var(--background-style)

}

.navbar .nav-link.text ,
.navbar .nav-link.text.dropdown-toggle,
.navbar .nav-link.text.dropdown-toggle.show {
    color: white !important;
    margin-left: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: italic;
    font-display: fallback;
    cursor: pointer;
}

.navbar .card-button{
    background-color: transparent;
    border: none;
    border-radius: 10%;
    padding: 3%;
    width: 120%;
    height: 50px;
    transition: background-color 0.3s ease;

}
.card-button:hover {
    background-color: #4f0495;       /* highlight color */
    color: #fff;          
}
.navbar .dropdown-card{
    background-color: #1a0033;
    color: white;
    width: 550%;
    height: 700%;
    border: none;
    border-radius: 3em;
    padding: 20%;
    position: absolute;
    opacity: 0;
    display: none;
    visibility: hidden;
    transform: translateY(-10px);
    pointer-events: none;   
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.navbar .dropdown-card.show {
  opacity: 1;
  display: block;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto; 
}
.navbar .arrow {
    display: inline-block;
    transition: transform 0.3s ease;
    transform-origin: center; /* ensures rotation around center */

}
.navbar .arrow.up{
    transform: rotate(180deg);
}


.card-image-container{
   
    object-fit: cover;
    border-radius: 10%;
}
.card-image-container.fade {
  opacity: 0;
}

/* Login Page Start*/

.login-pg{
    min-height: 100vh;
    color: white;
    background:var(--background-style);
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-card{
    width:fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color:white;
    border:none;
    background: transparent;
    padding: 20px 25px;
    border-radius: 20px;
    gap: 2em;
    position: relative;

}

.login-card::after{
    content: '';
    position: absolute;
    /* height: 110%;
    width: 100%;
    background: red;
    z-index: -1;
    padding: 10px; */

}
.input-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}
.input-field{
    position: relative;
    margin: 10px 0;
    
}
.input-field input{
    width: 100%;
    background:transparent;
    border: 1px solid;
    border-radius: 10px;
    padding: 5px 15px;
}
.input-field label{
    position: absolute;
    left: 15px;
    top: 50%;
    font-size: 16px;
    font-weight: 200;
    pointer-events: none;
    transform: translateY(-50%);
}
.input-field input:focus ~ label,
.input-field input:valid ~ label{
    top: 0;
    font-size: 0.8em;
    background: #6610f2;

    /* color: lightblue; */
    /* background: #5a0fa3; */
}




/* Login Page End*/



/* Hero section start */

.hero-section{
     height: calc(100vh - 90px); /* adjust navbar height */

    background-image: url('../assets/HeroPic.jpg');
    background-size: cover;
    background-position: center ; /* important fix */
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    position: relative;
    color: black;
}

.hero-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.1);
}

.hero-text{
    position: absolute;
    width: 50%;
    text-align: start;
    font-weight: 400;
    position: relative;
    z-index: 1;


}
/* Hero Section End */

@media (max-width: 992px) {
    .navbar{
    height: auto;
    flex-direction: column;
    padding:1rem
    }
    
    .navbar .nav-link.text,
    .navbar .nav-link.text.dropdown-toggle {
    font-size: 15px;             /* slightly smaller text */
    margin-left: 0;              /* remove left margin */
    margin-bottom: 0.5rem;
    }

    .navbar .dropdown-card {
    position: static;            /* no absolute positioning */
    width: 100%;                 /* full width */
    height: auto;                /* auto height */
    padding: 1rem;
    border-radius: 5px;
  }
    .card-image-container {
        display: none;               /* hide preview images on tablets */
    }

    .navbar .card-button {
        width: 100%;                 /* buttons fit container */
    }
    .login-btn{
        display: none;
    }

}



@media (max-width: 576px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-brand img {
    width: 70px;                 /* shrink logo */
    height: auto;
  }

  .navbar .nav-link.text {
    font-size: 10px;             /* smaller text for phones */
  }

  .navbar .dropdown-card {
    padding: 0.5rem;
    font-size: 14px;
  }

  .navbar button {
    width: 100%;                 /* Signin button full width */
    margin-top: 0.5rem;
  }

    .login-btn{
        display: none;
    }

}

/* Navbar Ends */

li{
    list-style-type: none;
    margin-bottom: 5px;
}